#pad-wrapper
  .row
    .col-md-12
      %h4.title
        Account Analytics
        %small= "#{Date.today.strftime("%B %Y")}"
    .col-md-4.chart
      %h5 Expense Allocation
      = content_tag :div, "", id: "expenses_donut", data: {accounts: @accounts.category_percents}, style: "height: 250px;"
    .col-md-4.chart
      %h5 Paid vs. Unpaid
      = content_tag :div, "", id: "paid_unpaid_donut", data: {accounts: @accounts.counts}, style: "height: 250px;"
    .col-md-4.chart
      %h5 Category Totals
      = content_tag :div, "", id: "totals_donut", data: {accounts: @accounts.category_totals}, style: "height: 250px;"
  .table-products.section
    .row.head
      .col-md-12
        %h4
          Accounts
          %small= link_to 'Manage accounts', accounts_path
    .row.filter-block
      
    .row
      %table.table.table-hover
        %thead
          %tr
            %th.col-md-1
              %span.line>
              Name
            %th.col-md-1
              %span.line>
              Due Date
            %th.col-md-1
              %span.line>
              Amount Due
            %th.col-md-1
              %span.line>
              Priority
            %th.col-md-1
              %span.line>
              Paid?
            %th.col-md-1
              %span.line>
              Site Link
        %tbody
          - @accounts.order(:due_date).each do |account|
            %tr
              %td= account.name
              %td= account.due_date
              %td= number_to_currency(account.amount_due)
              %td= account_priority(account)
              %td= account.is_paid == true ? 'Yes' : 'No'
              %td=link_to account.url, "http://#{account.url}"

:javascript
  $(function() {
    return Morris.Donut({
      element: "paid_unpaid_donut",
      data: $('#paid_unpaid_donut').data('accounts'),
      colors: ["#30a1ec", "#76bdee", "#c4dafe"]
    });
  });
  
  $(function() {
    return Morris.Donut({
      element: "expenses_donut",
      data: $('#expenses_donut').data('accounts'),
      colors: ["#30a1ec", "#76bdee", "#c4dafe"],
      formatter: function(y) {
        return y + "%";
      }
    });
  });

  $(function() {
    return Morris.Donut({
      element: "totals_donut",
      data: $('#totals_donut').data('accounts'),
      colors: ["#30a1ec", "#76bdee", "#c4dafe"],
      formatter: function(y) {
        return '$' + y;
      }
    });
  });
