%table.table.table-hover.sorty
  %thead
    %tr
      %th{style: 'width:0.5%'}
      %th.col-md-1
        %span.line>
        = sortable 'name'
      %th.col-md-1
        %span.line>
        = sortable 'due_date'
      %th.col-md-1
        %span.line>
        = sortable 'amount_due'
      %th.col-md-1
        %span.line>
        = sortable 'priority'
      %th.col-md-1
        %span.line>
        = sortable 'is_paid', 'Paid?'
      %th.col-md-2
        %span.line>
        Site link
  %tbody#user_account
    - @current_accounts.each do |account|
      = render 'row', account: account
