
= form_for(@account, html: { class: 'form-horizontal', role: 'form'}) do |f|
  .form-group
    = f.label :name, class: 'col-lg-2 control-label'
    .col-lg-4
      = f.text_field :name
  .form-group
    = f.label :url, class: 'col-lg-2 control-label'
    .col-lg-4
      = f.text_field :url
  .form-group
    = f.label :due_date, class: 'col-lg-2 control-label'
    .col-lg-4
      = f.text_field :due_date, class: 'datepicker input'
  .form-group
    = f.label :amount_due, class: 'col-lg-2 control-label'
    .col-lg-4
      = f.text_field :amount_due
  .form-group
    = f.label :priority, class: 'col-lg-2 control-label'
    .col-lg-4
      = f.select :priority, options_for_select([['High', 1], ['Medium', 2], ['Low', 3]]), {}
  .form-group
    = f.label :is_paid, class: 'col-lg-2 control-label'
    .col-lg-4
      = f.check_box :is_paid

  .form-group
    .col-lg-offset-2.col-lg-4
      = f.submit 'Save', class: 'btn btn-default'