%table.table.table-hover
  %thead
    %tr
      %th{style: 'width:0.5%'}
      %th.col-md-1
        %span.line>
        Name
      %th.col-md-1
        %span.line>
        Due Date
      %th.col-md-1
        %span.line>
        Amount Due
      %th.col-md-1
        %span.line>
        Priority
      %th.col-md-1
        %span.line>
        Paid?

  %tbody
    - @previous_accounts.each do |account|
      %tr
        %td= account_category(account.category)
        %td= account.name
        %td= account.due_date.strftime("%b %e")
        %td= number_to_currency(account.amount_due)
        %td= account_priority(account)
        %td= account.is_paid == true ? raw("<button class='btn btn-success btn-xs'><i class='fa fa-check'></i> Paid</button>") : raw("<button class='btn btn-danger btn-xs'><i class='fa fa-ban'></i> Unpaid</button>")
= will_paginate @previous_accounts, renderer: "BootstrapPaginationHelper::LinkRenderer", previous_label: "«", next_label: "»"