%tr{id: "accountRow#{account.id}"}
  %td= best_in_place account, :name
  %td= best_in_place account, :due_date, type: :date, classes: "datepicker"
  %td= best_in_place account, :amount_due, type: :input, display_as: :mk_bal
  %td= best_in_place account, :priority, type: :select, collection: [[1, 'High'], [2, 'Medium'], [3, 'Low']]
  %td= best_in_place account, :is_paid, type: :checkbox, collection: [raw("<button class='btn btn-danger btn-xs'><i class='fa fa-check'></i> Mark as Paid</button>"), raw("<button class='btn btn-success btn-xs'><i class=''></i> Paid</button>")]
  %td
    = link_to account.url, "http://#{account.url}"
    %ul.actions
      %li
        = link_to edit_account_path(account) do
          %i.table-edit
      %li
        = link_to account do
          %i.table-settings
      %li.last
        = link_to account, :method => :delete, remote: true do#, :data => { :confirm => 'Are you sure?' }
          %i.table-delete