
#pad-wrapper
  .table-products
    .row.head
      .col-md-12
        %h4
          Expenses
          %small= "#{Date.today.strftime("%B %Y")}"
    .row.filter-block
      .col-md-8.col-md-offset-10
        / .ui-select
        /   %select
        /     %option Filter users
        /     %option Signed last 30 days
        /     %option Active users
        / %input.search{type: "text"}/
        %a.btn-flat.new-product#addAccount + Add account
    .row
      #newAccountForm{style: "display: none; margin-bottom:20px"}
        = form_for(@account, html: { class: 'form-inline', role: 'form', id: "newAccountForm"}, remote: true) do |f|
          .form-group{style: "width:155px; margin-right: 1%"}
            = f.text_field :name, placeholder: 'Acount name', class: "form-control"
          .form-group{style: "width:155px; margin-right: 1%"}
            = f.date_field :due_date, class: 'datepicker form-control', placeholder: 'Due date'
          .form-group{style: "width:155px; margin-right: 1%"}
            = f.text_field :amount_due, placeholder: 'Amount due', class: "form-control"
          .form-group{style: "width:155px; margin-right: 1%"}
            = f.text_field :url, placeholder: 'Acount URL', class: "form-control"
          .form-group{style: "width:115px; margin-right: 1%"}
            = f.select :priority, options_for_select([['High', 1], ['Medium', 2], ['Low', 3]]), {include_blank: 'Select Priority'}, class: 'input-xs'
          .form-group{style: "width:115px; margin-right: 1%"}
            = f.select :category, options_for_select(['Mortgage/Rent', 'Credit Card', 'Entertainment', 'Insurance', 'Auto Payment', 'Food/Dining', 'Utilities', 'Health/Fitness', 'Loan'].sort), {include_blank: 'Select Category'}
          .form-group{style: "width:105px; margin-right: 1%"}
            = f.label  :is_reoccuring, 'Reoccuring?', style: "padding-right: 5%"
            = f.check_box :is_reoccuring, checked: true
          .form-group{style: "width:55px;"}
            = f.submit 'Save', class: 'btn btn-default btn-sm'
          .form-group
            #close=link_to 'close', '#'
    .row
      #accounts= render 'accounts'
  .table-products.section.col-md-12
    .row.head
      .col-md-12
        %h4
          Expenses
          %small= "#{Date.today.next_month.strftime("%B %Y")}"
    .row.filter-block
      
    .row
      %table.table.table-hover
        %thead
          %tr
            %th{style: 'width:0.5%'}
            %th.col-md-1
              %span.line>
              Name
            %th.col-md-1
              %span.line>
              Due Date
            %th.col-md-1
              %span.line>
              Amount Due
            %th.col-md-1
              %span.line>
              Priority
            %th.col-md-1
              %span.line>
              Paid?

        %tbody

          - @future_accounts.order(:due_date).each do |account|
            %tr
              %td= account_category(account.category)
              %td= account.name
              %td= account.due_date.strftime("%b %e")
              %td= number_to_currency(account.amount_due)
              %td= account_priority(account)
              %td= account.is_paid == true ? raw("<button class='btn btn-success btn-xs'><i class='fa fa-check'></i> Paid</button>") : raw("<button class='btn btn-danger btn-xs'><i class='fa fa-ban'></i> Unpaid</button>")
  .table-products.section.col-md-12
    .row.head
      .col-md-12
        %h4
          Expenses
          %small= "#{Date.today.beginning_of_year.strftime("%B")} - #{Date.today.last_month.strftime("%B %Y")} "
    .row.filter-block
      
    .row
      #previous_accounts= render 'previous_accounts'
    
        


