
#pad-wrapper
  .table-products
    .row.head
      .col-md-12
        %h4
          Accounts
          %small Current expenses
    .row.filter-block
      .col-md-8.col-md-offset-10
        / .ui-select
        /   %select
        /     %option Filter users
        /     %option Signed last 30 days
        /     %option Active users
        / %input.search{type: "text"}/
        %a.btn-flat.new-product#addAccount + Add account
    .row
      #newAccountForm{style: "display: none; margin-bottom:20px"}
        = form_for(@account, html: { class: 'form-inline', role: 'form', id: "newAccountForm"}, remote: true) do |f|
          .form-group{style: "width:155px; margin-right: 1%"}
            = f.text_field :name, placeholder: 'Acount name', class: "form-control"
          .form-group{style: "width:155px; margin-right: 1%"}
            = f.date_field :due_date, class: 'datepicker form-control', placeholder: 'Due date'
          .form-group{style: "width:155px; margin-right: 1%"}
            = f.text_field :amount_due, placeholder: 'Amount due', class: "form-control"
          .form-group{style: "width:155px; margin-right: 1%"}
            = f.text_field :url, placeholder: 'Acount URL', class: "form-control"
          .form-group{style: "width:155px; margin-right: 1%"}
            = f.label :priority, style: "padding-right: 5%"
            = f.select :priority, options_for_select([['High', 1], ['Medium', 2], ['Low', 3]]), {}, placeholder: 'Priority', class: 'input-xs'
          .form-group{style: "width:80px; margin-right: 1%"}
            = f.label  :is_paid, 'Paid?', style: "padding-right: 5%"
            = f.check_box :is_paid
          .form-group{style: "width:75px; margin-right: 1%"}
            = f.submit 'Save', class: 'btn btn-default btn-sm'
          .form-group
            #close=link_to 'close', '#'
    .row
      #accounts= render 'accounts'
        


