.col-sm-12
  .row
    %h3 Listing accounts

    %table.table.table-bordered.table-hover.table-striped
      %thead
        %tr
          %th{style: 'width:200px'} Name
          %th{style: 'width:200px'} Due Date
          %th{style: 'width:200px'} Amount Due
          %th Priority
          %th Paid?
          %th show
          %th edit
          %th destroy
      %tbody#user_account
        - @accounts.each do |account|
          = render 'row', account: account

%br

%button.btn.btn-primary#addAccount New Account

#newAccountForm{style: "display: none;"}
  = form_for(@account, html: { class: 'form-horizontal', role: 'form'}, remote: true) do |f|
    .form-group
      = f.label :name, class: 'col-lg-2 control-label'
      .col-lg-4
        = f.text_field :name
    .form-group
      = f.label :site_link, class: 'col-lg-2 control-label'
      .col-lg-4
        = f.text_field :site_link
    .form-group
      = f.label :due_date, class: 'col-lg-2 control-label'
      .col-lg-4
        = f.text_field :due_date, class: 'datepicker input'
    .form-group
      = f.label :amount_due, class: 'col-lg-2 control-label'
      .col-lg-4
        = f.text_field :amount_due
    .form-group
      = f.label :priority, class: 'col-lg-2 control-label'
      .col-lg-4
        = f.select :priority, options_for_select(['High', 'Medium', 'Low']), {}, include_blank: true
    .form-group
      = f.label :is_paid, class: 'col-lg-2 control-label'
      .col-lg-4
        = f.check_box :is_paid

    .form-group
      .col-lg-offset-2.col-lg-4
        = f.submit 'Save', class: 'btn btn-default'
    .form-group
      #close.col-lg-offset-2.col-lg-4=link_to 'close', '#'

:javascript
  $(document).ready(function() {
    $('.datepicker').datepicker({
      dateFormat: "yy-mm-dd"
    });
  });

