%p= "Name: #{@account.name}"
%p= "Link: #{@account.url}"
%p= "Due Date: #{@account.due_date}"
%p= "Amount Due: #{@account.amount_due}"
%p= "Priority: #{@account.priority}"
%p= "Paid?: #{@account.is_paid}"

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
